{% extends 'main_page/base.html' %}
{% load  static %}

{% block name_app %}
    <a class="navbar-brand flex-grow-1" href="{% url 'zayavki:page_view' %}"> > Заявки на уценку > {{ name_page }} </a>
{% endblock name_app %}


{% block content %}

<div class="row mt-1">
     <form action="{% url 'zayavki:add_zayavka' %}" method="post" enctype="multipart/form-data">
     {% csrf_token %} 
     <div class="col-md-3 col-sm-12">
        <label class="form-label mb-0" for={{form.code.id_for_input}}>Код товара:</label>
        {{form.code}}
     </div>
     <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1 " for={{form.name.id_for_input}}>Наименование товара:</label>
        {{form.name}}
     </div>  
    <div class="col-md-3 col-sm-12">
        <label class="form-label mb-0 mt-1" for={{form.category.id_for_input}}>Категория товара:</label>
        {{form.category}}
    </div>  
    <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1" for={{form.description.id_for_input}}>Описание товарного вида:</label>
        {{form.description}}
        {% if form.foto1 %}
            <a href="/media/{{form.foto1.path}}"  target="_blank">
                {{form.foto1.url}}
                <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if form.foto2.path %}
            <a href="/media/{{form.foto2.path}}"  target="_blank">
                <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>  
    <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1" for={{form.clarification.id_for_input}}>Причины и обстоятельства утраты товарного вида:</label>
        {{form.clarification}}
    </div> 
    <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1" for={{form.foto1.id_for_input}}>Фото 1:</label>
        {{form.foto1}}
    </div> 
    <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1" for={{form.foto1.id_for_input}}>Фото 2:</label>
        {{form.foto1}}
    </div> 
    <input class="col-md-6 col-sm-12 btn btn-info btn-block mt-2 " type="submit" value="Сохранить">    
    

</div>
               
{% endblock content %}