{% extends 'main_page/base.html' %}
{% load  static %}

{% block name_app %}
    <a class="navbar-brand" href="{% url 'zayavki:page_view' %}"> > Заявки на уценку > {{ name_page }} </a>
{% endblock name_app %}


{% block content %}
<div class="add_zayavka">
    <h1 class="page-header add_zayavka"> {{name_page}}</h1>
        <div class="col-lg-12">
             

                <form action="{% url 'zayavki:add_zayavka' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                                
                <div class="form-row col-lg-6" >
                   
                    {{ form }}
                    
                    {% comment %} <div class="col-lg-12">
                        <p class="mb-1">Имя пользователя: {{user.username}}</p>                        
                    </div>
                    <div class="col-lg-12">
                        <p class="mb-1">Магазин: {{user.shop}} </p>                        
                    </div>
                    <div class="col-lg-12">
                        <p class="mb-1">Роль: {{user.role}} </p>                        
                    </div>
                    <div class="col-lg-12">
                        <label class="mb-1" for={{form.email.id_for_input}}>Адрес электронной
                            почты:</label>
                        {{form.email}}
                    </div> {% endcomment %}
                </div>
                <div class="form-row">
                    <div class="col-lg-4" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
        </div>

</div>
{% endblock content %}