{% extends 'main_page/base.html' %}
{% load  static %}

{% block css %}
    <link href= {% static 'styles.css' %} rel="stylesheet">
{% endblock css %}


{% block name_app %}
    <a class="navbar-brand" href="{% url 'zayavki:page_view' %}"> > Заявки на уценку</a>
{% endblock name_app %}



{% block content %}
    <div >
        {% comment %} Кнопка СОЗДАТЬ НОВУЮ ЗАЯВКУ {% endcomment %}
        <div style="display: flex; justify-content: flex-end; margin-bottom: 10px; margin-top: 10px;">
            <a class="btn btn-success" href="{% url 'zayavki:add_zayavka' %}">Создать новую заявку</a>            
        </div>
      
        {% comment %} БЛОК ФИЛЬТРОВ {% endcomment %}
        <div class="select_filter">
            {% for name_filter, param_filter in filters.items %}
                <div>
                    {% if cur_filter != param_filter  %} 
                        <a class="btn btn-outline-primary btn-sm text-nowrap" href="{% url 'zayavki:page_view'%}?filter={{param_filter}} " role="button">{{ name_filter }}</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm text-nowrap" href="{% url 'zayavki:page_view'%}?filter={{param_filter}} " role="button">{{ name_filter }}</a>
                    {% endif %}
                </div>    
            {% endfor %}            
        </div>
        
        {% comment %} ТАБЛИЦА ЗАЯВОК {% endcomment %}
        <div class="table-responsive">
        <table class="table table-hover table-bordered table-sm my_table text-center">
            <thead>
                <tr>                
                    <th class="col-1">Дата</th>
                    <th class="col-1">Номер заявки</th>
                    <th class="col-1">Магазин</th>
                    <th class="col-1">Код товара</th>
                    <th class="col-2 align-items-center" >Номенклатура</th>
                    <th class="col-3">Товарный вид</th>
                    <th class="col-3">Пояснения</th>
                    <th class="col">Решение</th>
                    <th class="col">Уценка в 1С</th>
                    <th class="col">Уценка на витрине</th>
                </tr>
            </thead>    
            
            <tbody>    
            {%for zayavka in data_from_model_Zayavka%}
                <tr>                   
                    <td>{{zayavka.data|date:"d.m.Y"}}</td>
                    <td>{{zayavka.id}}</td>
                    <td>{{zayavka.user.shop}}</td>
                    <td>{{zayavka.code}}</td>
                    <td>
                        <a href="{% url 'zayavki:add_zayavka'%}?idz={{zayavka.id}}"> {{zayavka}} </a>
                    </td>
                    <td>{{zayavka.description}}
                        {% if zayavka.foto1 %}
                            <a href="/media/{{zayavka.foto1}}"  target="_blank">
                                <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                        {% if zayavka.foto2 %}
                            <a href="/media/{{zayavka.foto2}}"  target="_blank">
                                <i class="fa fa-file-image-o fa-lg" aria-hidden="true"></i>
                            </a>
                        {% endif %}                    
                    </td>
                    <td>{{zayavka.clarification}}</td>
                    <td>{% if zayavka.status1 %}
                            <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                        {% elif zayavka.status2 %}
                            <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-hourglass-half" style="color:gray" aria-hidden="true"></i>
                        {% endif %}    
                    </td>
                    <td>{% if zayavka.status1 and zayavka.status3 %}
                            <i class="fa fa-check"  style="color:green" aria-hidden="true"></i>
                        {% elif  zayavka.status1 and not zayavka.status3%}
                            <i class="fa fa-hourglass-half"  style="color:gray" aria-hidden="true"></i>
                        {% endif %} 
                            
                    </td>
                    <td>{% if zayavka.status3 and zayavka.status4 %}
                            <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                        {% elif zayavka.status3 and not zayavka.status4%}
                            <i class="fa fa-hourglass-half" style="color:gray" aria-hidden="true"></i>
                        {% endif %} 
                    </td>
                </tr>
            {%endfor%}
        </tbody>    
        </table>
        </div>
        <br>
        {% if data_from_model_Zayavka.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not data_from_model_Zayavka.has_previous %} disabled {% endif %}">
                    <a class="page-link" 
                        href="{% if data_from_model_Zayavka.has_previous %} {% url 'zayavki:page_view' %}?page={{data_from_model_Zayavka.previous_page_number}}&filter={{cur_filter}} {% else %}#{% endif %}" 
                        tabindex="-1">Предыдущая</a>
                    </li>
                    {% for page_ in data_from_model_Zayavka.paginator.page_range %}
                        <li class="page-item {% if data_from_model_Zayavka.number == page_ %}active{% endif %}">
                            <a class="page-link " 
                                href="{% url 'zayavki:page_view' %}?page={{page_}}&filter={{cur_filter}}">
                                {{page_}}
                            </a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if not data_from_model_Zayavka.has_next %} disabled {% endif %}">
                    <a class="page-link" 
                        href="{% if data_from_model_Zayavka.has_next %} {% url 'zayavki:page_view' %}?page={{data_from_model_Zayavka.next_page_number}}&filter={{cur_filter}} {% else %}#{% endif %}">
                        Следующая
                    </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}


