{% extends 'main_page/base.html' %}
{% load  static %}

{% block css %}
    <link href= {% static 'styles.css' %} rel="stylesheet">
{% endblock css %}


{% block name_app %}
    <a class="navbar-brand" href="{% url 'zayavki:page_view' %}"> > Заявки на уценку</a>
{% endblock name_app %}



{% block content %}
    <div>
        <br>
        <a class="btn btn-success"  href="yandex.ru"> 
        Создать новую заявку
        </a>
        
        <br><br>
        


        <div class="select_filter">
            {% for name_filter, param_filter in filters.items %}
                <div>
                    {% if cur_filter != param_filter  %} 
                        <a class="btn btn-outline-primary btn-sm text-nowrap" href="{% url 'zayavki:page_view_filter' param_filter %}" role="button">{{ name_filter }}</a>
                    {% else %}
                        <a class="btn btn-primary btn-sm text-nowrap" href="{% url 'zayavki:page_view_filter' param_filter %}" role="button">{{ name_filter }}</a>
                    {% endif %}
                </div>    
            {% endfor %}            
        </div>
        <table>
            <tr>
                <th class="col-1">Дата</th>
                <th class="col-1">Номер заявки</th>
                <th class="col-3">Магазин</th>
                <th class="col-4">Номенклатура</th>
                <th class="col-1">Решение</th>
                <th class="col-1">Уценка в 1С</th>
                <th class="col-1">Уценка на витрине</th>
            </tr>
            {%for zayavka in data_from_model_Zayavka%}
                <tr>
                    <td>{{zayavka.data|date:"d.m.Y"}}</td>
                    <td>{{zayavka.id}}</td>
                    <td>{{zayavka.user.shop}}</td>
                    <td>
                        <a href="{% url 'zayavki:one_zayavka' %}"> {{zayavka}} </a>
                    </td>
                    <td>{% if zayavka.status1 %}
                            <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                        {% elif zayavka.status2 %}
                            <i class="fa fa-times" style="color:red" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-hourglass-half" style="color:gray" aria-hidden="true"></i>
                        {% endif %}    
                    </td>
                    <td>{% if zayavka.status1 and zayavka.status3 %}
                            <i class="fa fa-check"  style="color:green" aria-hidden="true"></i>
                        {% elif  zayavka.status1 and not zayavka.status3%}
                            <i class="fa fa-hourglass-half"  style="color:gray" aria-hidden="true"></i>
                        {% endif %} 
                            
                    </td>
                    <td>{% if zayavka.status3 and zayavka.status4 %}
                            <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
                        {% elif zayavka.status3 and not zayavka.status4%}
                            <i class="fa fa-hourglass-half" style="color:gray" aria-hidden="true"></i>
                        {% endif %} 
                    </td>
                </tr>
            {%endfor%}

        </table>
        <br>
    </div>
{% endblock content %}


