{% extends 'zayavki/base.html' %}
{% load  static %}

{% block content %}
    <div>
        <br>
        <a class="link-new-application" href=""> Создать новую заявку</a>
        <br><br>
        <div class="select_filter">
            {% for filter in filters %}
                <div>
                    <a href="">{{filter}}</a>
                </div>
            {% endfor %}            
        </div>
        <table>
            <tr>
                <th>Дата</th>
                <th>Номер заявки</th>
                <th>Номенклатура</th>
                <th>Ссылка</th>
            </tr>
            {%for zayavka in z%}
                <tr>
                    <td>Дата</td>
                    <td>Номер заявки</td>
                    <td>{{zayavka}}</td>
                    <td>Ссылка</td>
                </tr>
            {%endfor%}
            {% comment %} <tr>
                <td>01.09.2021</td>
                <td>Заявка №002</td>
                <td>Комикс Супермен против бетмена</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №003</td>
                <td>Геймпад PS4</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №005</td>
                <td>Журнал Мир фантастики 154</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №005</td>
                <td>Журнал Мир фантастики 154</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №005</td>
                <td>Журнал Мир фантастики 154</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №005</td>
                <td>Журнал Мир фантастики 154</td>
                <td><a href="">Открыть...</a></td>
            </tr>
            <tr>
                <td>01.09.2021</td>
                <td>Заявка №005</td>
                <td>Журнал Мир фантастики 154</td>
                <td><a href="">Открыть...</a></td>
            </tr> {% endcomment %}
        </table>
        <br>
    </div>
{% endblock content %}


