{% extends 'main_page/base.html' %}
{% load  static %}

{% block css %}
    <link href= {% static 'styles.css' %} rel="stylesheet">
{% endblock css %}
    


{% block content %}
    <div class="row  text-center my-2">
        <div class="d-grid gap-3">  
            <div class="col-12">
                <a href="{% url 'zayavki:page_view' %}" class="btn btn-primary">Заявки на уценку</a>            
            </div>    
            <div class="col-12">
                <a href="{% url 'zayavki:page_view' %}" class="btn btn-primary">Аттестация продавцов-консультантов</a>           
            </div> 
        </div>            
    </div>       
{% endblock content %}
