{% extends 'main_page/base.html' %}
{% load  static %}

{% block css %}
    <link href= {% static 'styles.css' %} rel="stylesheet">
{% endblock css %}
    


{% block content %}
    <br>
    <div class="d-grid gap-2 d-md-block">
        <a href="{% url 'zayavki:page_view' %}" class="btn btn-primary">Заявки на уценку</a>  
        <br>
        <br>
        <a href="{% url 'zayavki:page_view' %}" class="btn btn-primary">Аттестация продавцов-консультантов</a>  
    </div>     
{% endblock content %}
